<section class='course-wrapper'>
  {{#each calendar}}
    <article class='day-slot'>

      <h4>{{this.dayName}}</h4>
      <p>{{this.date}}</p>
      <ul>
        {{#if this.courses}}
          {{#each this.courses}}
            <li class="{{#if this.organizer_is_user}}is-organizer{{/if}}{{#if this.participant_is_user}}is-participant{{/if}}">
                <div class="course-header">
                  <p>{{this.startTime}}</p>
                  <p>{{this.category}}</p>
                </div>
                <h5>{{this.courseName}}</h5>
                <div class="btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
            </li>
          {{/each}}

        {{else}}
            <li>
              <div class="no-course-header">
                <h6>No course(s)</h6>
                <div class="btn-add"><a href="/courses/add">+</a></div>
              </div>
            </li>
        {{/if}}
      </ul>
    </article>
  {{/each}}
</section> 