<section class='course-wrapper'>
{{#if searchbarResult}}
  {{#each courses}}
  <article class='day-slot'>
    <h4>Placeholder</h4>
    <p id=""></p>
    <ul>
        <li>
          {{courses.courseName}} <span> | </span>
          <a href='/courses/{{courses._id}}'>Show Details</a>
        </li>
    </ul>
  </article>
  {{/each}}

{{else}}
  <article class='day-slot'>
    <h4>Monday</h4>
    <p id="monday"></p>
    <ul>
      {{#each courses.monday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <a href='/courses/{{this._id}}'>Show Details</a>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Tuesday</h4>
    <p id="tuesday"></p>
    <ul>
      {{#each courses.tuesday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <a href='/courses/{{this._id}}'>Show Details</a>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Wednesday</h4>
    <p id="wednesday"></p>
    <ul>
      {{#each courses.wednesday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <div class=".btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Thursday</h4>
    <p id="thursday"></p>
    <ul>
      {{#each courses.thursday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <div class=".btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Friday</h4>
    <p id="friday"></p>
    <ul>
      {{#each courses.friday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <div class=".btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Saturday</h4>
    <p id="saturday"></p>
    <ul>
      {{#each courses.saturday}}
        <li>
          <h5>{{this.courseName}}</h5>
          <div class=".btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
        </li>
      {{/each}}
    </ul>
  </article>  

  <article class='day-slot'>
      <h4>Sunday</h4>
      <p id="sunday"></p>
      <ul>
        {{#each courses.sunday}}
          <li>
            <h5>{{this.courseName}}</h5>
            <div class=".btn-white"><a href='/courses/{{this._id}}'>Show Details</a></div>
          </li>
        {{/each}}
      </ul>
  </article>
{{/if}}
</section>