<section class='course-wrapper'>

  <article class='day-slot'>
    <h4>Monday</h4>
    <p id="monday"></p>
    <ul>
      {{#each courses.monday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Tuesday</h4>
    <p id="tuesday"></p>
    <ul>
      {{#each courses.tuesday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Wednesday</h4>
    <p id="wednesday"></p>
    <ul>
      {{#each courses.wednesday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Thursday</h4>
    <p id="thursday"></p>
    <ul>
      {{#each courses.thursday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Friday</h4>
    <p id="friday"></p>
    <ul>
      {{#each courses.friday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>

  <article class='day-slot'>
    <h4>Saturday</h4>
    <p id="saturday"></p>
    <ul>
      {{#each courses.saturday}}
        <li>
          {{this.courseName}} <span> | </span>
          <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
        </li>
      {{/each}}
    </ul>
  </article>  

  <article class='day-slot'>
      <h4>Sunday</h4>
      <p id="sunday"></p>
      <ul>
        {{#each courses.sunday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
  </article>

</section>