<div class='course-wrapper'>

    <div class='day-slot'>
      <h4>Monday</h4>
      <p id="monday">31/05/2021</p>
      <ul>
        {{#each courses.monday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Tuesday</h4>
      <p id="tuesday">01/06/2021</p>
      <ul>
        {{#each courses.tuesday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Wednesday</h4>
      <p id="wednesday">02/06/2021</p>
      <ul>
        {{#each courses.wednesday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Thursday</h4>
      <p id="thursday">03/06/2021</p>
      <ul>
        {{#each courses.thursday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Friday</h4>
      <p id="friday">04/06/2021</p>
      <ul>
        {{#each courses.friday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Saturday</h4>
      <p id="saturday">05/06/2021</p>
      <ul>
        {{#each courses.saturday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

  <div class='day-slot'>
      <h4>Sunday</h4>
      <p id="sunday">06/06/2021</p>
      <ul>
        {{#each courses.sunday}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>