{{> navbar}}

{{> searchbar}}

<div class="calendar-container">
  {{!-- TOD add if condition to change headline (user vs visitor) --}}
  {{#if user}}
    <h2>Your Course Calendar</h2> 
  {{else}}
    <h2>Course Calendar</h2> 
  {{/if}}
  <div class='calendar-header'>
    <div class="week-btn">
      {{!-- TOD add eventListener to update date according to the current week --}}
      <button class='btn-previous-week'><</button>
      <p class='current-week'>24/05/2021 - 30/05/2021</p>
      <button class='btn-next-week'>></button>
    </div>
  </div>

  <div class='course-list'>

    <div class='day-slot'>
      <h4>Monday</h4>
      <p id="monday">31/05/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Tuesday</h4>
      <p id="tuesday">01/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Wednesday</h4>
      <p id="wednesday">02/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Thursday</h4>
      <p id="thursday">03/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Friday</h4>
      <p id="friday">04/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

    <div class='day-slot'>
      <h4>Saturday</h4>
      <p id="saturday">05/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

  <div class='day-slot'>
      <h4>Sunday</h4>
      <p id="sunday">06/06/2021</p>
      <ul>
        {{#each courses}}
          <li>
            {{this.courseName}} <span> | </span>
            <a href='/courses/{{this._id}}'>Show Details</a><span> | </span>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>

</div>