{{> navbar}}

<h2>{{course.courseName}}</h2>
<a href='/courses'>Back</a>
<p>Category: {{course.category}}</p>
<p>Organiser: {{course.courseOwner.username}}</p>
<p>Date: {{course.date}}</p>
<p>Start time: {{course.startTime}}</p>
<p>Description: {{course.description}}</p>
<p>Address: {{course.address}}</p>
<p>
  Participants:
  <ul>
    
    {{#each course.participants}}
      <li>{{this.username}}</li>
    {{/each}}
  </ul>
</p>

<p>Free Spaces: {{spaceTaken}} / {{course.maxParticipants}}</p>

<a href='/courses/{{course.id}}/edit'>Edit</a>