{{> navbar}}

<h2>{{course.courseName}}</h2>
<a href='/courses'>Back</a>
<p>Category: {{course.category}}</p>
<p>Organiser: {{course.courseOwner.username}}</p>
<p>Date: {{convertedDate}}</p>
<p>Start time: {{course.startTime}}</p>
<p>Description: {{course.description}}</p>
<p>Address: {{course.address}}</p>
<p>Zip: {{course.zip}}</p>
<p>City: {{course.city}}</p>
<p>
  Participants:
<ul>
  {{#each course.participants}}
  <li>{{this.username}}</li>
  {{/each}}
</ul>
</p>

<p>Free Spaces: {{spaceTaken}} / {{course.maxParticipants}}</p>

{{#if userCourseOwner}}
<a href='/courses/{{course.id}}/edit'>Edit</a>
{{else}}
    {{#if userSignUp}}
    <form id="unsubscribe-course" action="/courses/{{course.id}}/unsubscribe" method="POST">
      <button>Unsubscribe Course</button>
    </form>
    {{else}}
    <form id="join-course" action="/courses/{{course.id}}/join" method="POST">
      <button>Join Course</button>
    </form>
    {{/if}}
{{/if}}