{{> navbar}}

<div class="details-container"></div>
  <h2>{{course.courseName}}</h2>
  <a href='/courses'>Back</a>

  <p>Category:<span class="marge">{{course.category}}</span></p>
  <p>Organiser:<span class="marge">{{course.courseOwner.username}}</span></p>
  <p>Date:<span class="marge">{{convertedDate}}</span></p>
  <p>Start time:<span class="marge">{{course.startTime}}</span></p>
  <p>Description:<span class="marge">{{course.description}}</span></p>
  <p>Address:<span class="marge">{{course.address}}</span></p>
  <p>Zip:<span class="marge">{{course.zip}}</span></p>
  <p>City:<span class="marge">{{course.city}}</span></p>
  <p>
    Participants:
  <ul>
    {{#each course.participants}}
    <li>{{this.username}}</li>
    {{/each}}
  </ul>
  </p>

  <p>Free Spaces: {{spaceTaken}} / {{course.maxParticipants}}</p>

  {{#if userCourseOwner}}
  <a href='/courses/{{course.id}}/edit'>Edit</a>
  {{else}}
    {{#if userSignUp}}
    <form id="unsubscribe-course" action="/courses/{{course.id}}/unsubscribe" method="POST">
      <button>Unsubscribe Course</button>
    </form>
    {{else}}
    <form id="join-course" action="/courses/{{course.id}}/join" method="POST">
      <button>Join Course</button>
    </form>
    {{/if}}
  {{/if}}
</div>