{{> navbar}}

<div class="form">
  <button id="go-back" class='btn-white'>Go Back</button>
  <h2 class="h2-tbl-detail">{{course.courseName}}</h2>
  {{!-- <a href='/courses'>Back</a> --}}

  <table id="table-details" class="table-details">
    <tr>
      <td class="title">Category:</td>
      <td class="info">{{course.category}}</td>
    </tr>
    <tr>
      <td class="title">Organiser:</td>
      <td class="info">{{course.courseOwner.username}}</td>
    </tr>
    <tr>
      <td class="title">Date:</td>
      <td class="info">{{convertedDate}}</td>
    </tr>
    <tr>
      <td class="title">Start time:</td>
      <td class="info">{{course.startTime}}</td>
    </tr>
    <tr>
      <td class="title">Description:</td>
      <td class="info">{{course.description}}</td>
    </tr>
    <tr>
      <td class="title">Address:</td>
      <td class="info">{{course.address}}</td>
    </tr>
    <tr>
      <td class="title">Zip:</td>
      <td class="info">{{course.zip}}</td>
    </tr>
    <tr>
      <td class="title">City:</td>
      <td class="info">{{course.city}}</td>
    </tr>    
    {{#each course.participants}}
    <tr>
      <td class="title"></td>
      <td class="info">{{this.username}}</td>
    </tr>
    {{/each}}    
    <tr>
      <td class="title">Free Spaces:</td>
      <td class="info">{{spaceTaken}} / {{course.maxParticipants}}</td>
    </tr>
  </table>

  {{#if userCourseOwner}}
  <div class="btn-blue">
    <a href='/courses/{{course.id}}/edit'>Edit</a>
  </div>
  {{else}}
    {{#if userSignUp}}
    <form id="unsubscribe-course" action="/courses/{{course.id}}/unsubscribe" method="POST">
      <div class="btn-red">
        <button>Unsubscribe Course</button>
      </div>
    </form>
    {{else}}
      {{#if isFull}}
      <form id="join-course">
        <div class="btn-red">
          <button disabled='true'>Course is full</button>
        </div>    
      </form>      
      {{else}}
      <form id="join-course" action="/courses/{{course.id}}/join" method="POST">
        <div class="btn-blue">
          <button>Join Course</button>
        </div>    
      </form>
      {{/if}}
    {{/if}}
  {{/if}}
</div>