{{> navbar}}

<div class="form">
  <h2>Edit Your Course</h2>
  <form action="/courses/{{course.id}}" method="POST">
    <label>
      Course Name
      <input type="text" name="courseName" placeholder="{{course.courseName}}" required/>
    </label>

    <label>
      Date
      <input type="date" id="input-date" name="date" placeholder="{{course.date}}" required/>
    </label>

    <label>
      Start time
      <input type="time" id="input-time" name="startTime" placeholder="{{course.startTime}}" required />
    </label>

    <label>
      Maximun participants
      <input type="number" name="maxParticipants" min="1" placeholder="{{course.maxParticipants}}" />
    </label>

    <label>
      Address
      <input type="text" name="address" placeholder="{{course.address}}" required/>
    </label>

    <label>
      Choose a category:
      <select name="category" required>
        <option value="">{{course.category}}</option>
        <option value="Climbing">Climbing</option>
        <option value="Dance">Dance</option>
        <option value="Functional Training">Functional Training</option>
        <option value="Material Arts">Material Arts</option>
        <option value="Pilates">Pilates</option>
        <option value="Racket Sports">Racket Sports</option>
        <option value="Strength Training">Strength Training</option>
        <option value="Swimming">Swimming</option>
        <option value="Team Sports">Team Sports</option>
        <option value="Vibration Training">Vibration Training</option>
        <option value="Water Sports">Water Sports</option>
        <option value="Yoga">Yoga</option>
    </select>
    </label>

    <label>
      Description
      <input type="text" name="description" placeholder="{{course.description}}" />
    </label>

    <button type="submit">Change Course</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  <form id="delete-course" action="/courses/{{course.id}}/delete" method="POST">
      <button>Delete Course</button>
  </form>
</div>