{{> navbar}}

<div class="form">
  <h2>Edit Your Course</h2>
  {{!-- <a href='/courses/{{course.id}}'>Back</a> --}}
  <form action="/courses/{{course.id}}" method="POST">
    <label>
      Choose a category:
      <select class='searchbar-field' name="category" value="{{course.category}}" required>
        <option value="{{course.category}}">{{course.category}}</option>
        {{#each categories}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>
    </label>

    <label>
      Course Name
      <input type="text" name="courseName" value="{{course.courseName}}" required />
    </label>

    <label>
      Date
      <input type="date" id="edit-input-date" name="date" value="{{course.date}}" required />
    </label>

    <label>
      Start time
      <input type="time" id="edit-input-time" name="startTime" value="{{course.startTime}}" required />
    </label>

    <label>
      Maximun participants
      <input type="number" name="maxParticipants" min="1" value="{{course.maxParticipants}}" />
    </label>

    <label>
      Address
      <input type="text" name="address" value="{{course.address}}" required />
    </label>

    <label>
      Zip code
      <input type="number" name="zip" value="{{course.zip}}" required />
    </label>

    <label>
      City
      <input type="text" name="city" value="{{course.city}}" required />
    </label>

    <label>
      Description
      <input type="text" name="description" value="{{course.description}}" />
    </label>

    {{!-- <button type="submit">Update Course</button> --}}

    <div class="nav-btn-container">
      <div class="btn-blue dbl-btn-container">
        <button type="submit">Update</button>
      </div>
      <div class="btn-red dbl-btn-container">
        <a href="/courses/{{course.id}}/delete">Delete</a>
      </div>
    </div>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  {{!-- <form id="delete-course" action="/courses/{{course.id}}/delete" method="POST">
    <button>Delete Course</button>
  </form> --}}

</div>