{{> navbar}}

{{> searchbar}}

{{#if user}}
<h2>Welcome, {{ user.username }}!</h2>

<a href="/UserProfile/edit">Edit your profile</a>
<a href="/courses/add">Create a course</a>
<p>This is your profile page my friend! And your email is: {{ user.email }}</p>
<div>
    <img src="{{user.imageUrl}}">
</div>

<div>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>City: {{ user.city }}</p>
    <p>Telephone: {{ user.telephone }}</p>
    <a href="/UserProfile/edit">Edit profile</a>
</div>

<div>
    <a href='/courses'>See Courses</a>
    <a href="/courses/add">Create a course</a>
</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}