{{> navbar}}

<div id="form">
  <h2>Edit your profile</h2>
  {{#if user}}
  <form action="/userProfile" method="POST" enctype='multipart/form-data'>
    <label>
      Username
      <input type="text" name="username" value="{{user.username}}" />
    </label>


    <label>
      Email
      <input type="email" name="email" value="{{user.email}}" />
    </label>


    <label for="input-password">
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>


    <label>
      City
      <input type="text" name="city" value="{{user.city}}" />
    </label>


    <label>
      Telephone
      <input type="text" name="telephone" value="{{user.telephone}}" />
    </label>


    <label>
      Profile Picture
      <div>
        <p>This is your profile picture</p>
        {{#if user.imageUrl}}
        <img src="{{user.imageUrl}}">
        {{else}}
        <img src="/images/avatar.svg" >
        {{/if}}
      </div>
      <input type="file" name="image" id="input-image">
      <input type="text" name="existingImage" hidden id="" value="{{user.imageUrl}}">
    </label>


    <button type="submit">Update profile</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  <form id="delete-profile" action="/userProfile/delete" method="POST">
    <button>delete</button>
  </form>
  {{else}}
  <p>Not logged in anymore, sorry!</p>
  <a href="/login">Login</a>
  {{/if}}
</div>