{{> navbar}}

<div id="form">
  <h2>Edit your profile</h2>
  {{#if user}}
  <form action="/userProfile" method="POST" enctype='multipart/form-data'>
    <label>
      Username
      <input type="text" name="username" placeholder="{{user.username}}" />
    </label>


    <label>
      Email
      <input type="email" name="email" placeholder="{{user.email}}" />
    </label>


    <label for="input-password">
      Password
      <input type="password" name="password" id="input-password" placeholder="********" />
    </label>


    <label>
      City
      <input type="text" name="city" placeholder="{{user.city}}" />
    </label>
    

    <label>
      Telephone
      <input type="text" name="telephone" placeholder="{{user.telephone}}" />
    </label>
    

    <label>
      Profile Picture
      <input type="file" name="image" id="input-image">
    </label>
    

    <button type="submit">Update profile</button>

    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  <form id="delete-profile" action="/userProfile/delete" method="POST">
    <button>delete</button>
  </form>
  {{else}}
  <p>Not logged in anymore, sorry!</p>
  <a href="/login">Login</a>
  {{/if}}
</div>