{{> navbar}}

<div class="form">
  <h2>Edit your profile</h2>
  <a href='/userProfile'>Back</a>
  {{#if user}}
  <form action="/userProfile" method="POST" enctype='multipart/form-data'>
    <label>
      Username
      <input type="text" name="username" value="{{user.username}}" />
    </label>

    <label>
      Email
      <input type="email" name="email" value="{{user.email}}" />
    </label>

    <label>
      Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <label>
      City
      <input type="text" name="city" value="{{user.city}}" />
    </label>

    <label>
      Telephone
      <input type="text" name="telephone" value="{{user.telephone}}" />
    </label>

    <div class="upload-container">
      <p id="p-profil-pic">Profile Picture</p>

      <label id="input-label">
        <div class="btn-white">
          Change image 
        </div>
        <input type="file" name="image" id="input-image">
        <input type="text" name="existingImage" hidden id="" value="{{user.imageUrl}}"> 
      </label>    
    </div>

    {{#if user.imageUrl}}
    <img class="user-pic" src="{{user.imageUrl}}">
    {{else}}
    <img class="user-pic" src="/images/avatar.svg">
    {{/if}}       

    <div class="nav-btn-container">
      <div class="btn-blue dbl-btn-container">
        <button type="submit">Update</button>
      </div>
      <div class="btn-red dbl-btn-container">
        <a href="/userProfile/delete">Delete</a>
      </div>
    </div>
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>

  {{else}}
  <p class="error">Not logged in anymore, sorry!</p>
  <a href="/login">Login</a>
  {{/if}}
</div>