<div id="form">
  <h2>Edit your profile</h2>
  {{#if user}}
  <form action="/userProfile" method="POST" enctype='multipart/form-data'>
    <label for="input-username">Username</label>
    <input type="text" id="input-username" name="username" placeholder="{{user.username}}" />

    <label for="input-email">Email</label>
    <input type="email" id="input-email" name="email" placeholder="{{user.email}}" />

    <label for="input-password">Password</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <label for="input-city">City</label>
    <input type="text" id="input-city" name="city" placeholder="{{user.city}}" />

    <label for="input-telephone">Telephone</label>
    <input type="text" id="input-telephone" name="telephone" placeholder="{{user.telephone}}" />

    <label for="input-image">Profile Picture</label>
    <input type="file" name="image" id="input-image">

    <button type="submit">Update profile</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
  {{else}}
    <p>Not logged in anymore, sorry!</p>
    <a href="/login">Login</a>
  {{/if}}
</div>