{{> navbar}}

{{#if user}}

<div class="form">
    <h2>Your Profile</h2>

    <img class="user-pic" src="{{user.imageUrl}}">

    <table id="table-details">
        <tr>
            <td class="title">Username:</td>
            <td class="info">{{user.username}}</td>
        </tr>
        <tr>
            <td class="title">Email:</td>
            <td class="info">{{user.email}}</td>
        </tr>
        <tr>
            <td class="title">City:</td>
            <td class="info">{{user.city}}</td>
        </tr>
        <tr>
            <td class="title">Telephone:</td>
            <td class="info">{{user.telephone}}</td>
        </tr>
    </table>

    <div class="btn-blue">
        <a href="/UserProfile/edit">Edit profile</a>
    </div>

    {{!-- <div>
        <a href='/courses'>See Courses</a>
        <a href="/courses/add">Create a course</a>
    </div> --}}
</div>

{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}